body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
}

.left-container {
    background-color: #2e2e2e; /* Blackish color */
    width: 16.66%; /* 1/6 of the screen width */
    height: 100vh; /* Full height of the viewport */
    color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px; /* Minimal padding at the top */
}

.photo-container {
    width: 90%; /* Slight padding around the image */
    padding-top: 90%; /* Aspect ratio trick for square */
    position: relative;
    display: flex;
    justify-content: center;
}

.photo-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container, maintaining aspect ratio */
    border-radius: 10px; /* Optional: Adds some rounding to the corners */
}

.main-content {
    width: 83.34%; /* Remaining screen width */
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}
